[Unit]
Description=Cerberus Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cerberusd
User=cerberusd

[Install]
WantedBy=multi-user.target
